body.light {
  background-color: white;
  color: #213547;
}
body.dark {
  background-color: #333;
  color: white;
}
body.light button {
  background-color: #333;
  color: white;
}
body.dark button {
  background-color: white;
  color: #333;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
